
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1700px;
    margin: 2% auto;
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
}



.carousel-image-container {
    position: relative;
    width: 110%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}

@media (max-width: 1480px){
    .carousel{
        max-width: 1600px;
        margin-left: 8%;
        margin-right: 8%;
    } 
}

@media (max-width: 1550px){
    .carousel{
        max-width: 1630px;
        margin-left: 9%;
        margin-right: 9%;
    } 
}

@media (max-width: 1600px){
    .carousel{
        max-width: 1620px;
        margin-left: 10%;
        margin-right: 10%;
    } 
}


.carousel-image {
    width: 100%;
    height: 100%;   
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev {
    left: 10px; /* Posición izquierda */
}

.carousel-button.next {
    right: 10px; /* Posición derecha */
}