@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

.navbarC {
    background-color: #f8f9fa;
    padding: 10px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid #ddd;
}

.navbar-items {
    font-family: "Arima", system-ui;
    display: flex;
    gap: 20px;
}

.navbar-items p {
    margin: 0;
    user-select: none;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-items p:hover {
    color: white;
    background-color: #f1f1f1;
    border-radius: 5px;

}


/* Menus */
/* Estilo del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    user-select: none;
}


.navbar,
.dropdown-menu {
    overflow: visible;
}


.dropdown-section {
    flex: 1;
    margin-right: 20px;
    margin-left: 22%;
}

.dropdown-section h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.dropdown-section p {
    margin: 5px 0;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    font-weight: 400;
}

.dropdown-section p:hover {
    color: black;
    font-weight: bold;
}
